@charset 'utf-8';
@import "./reset.css";
@import "./flex.css";

@font-face {
    font-family: 'AcuminVariableConcept';
    src: url('../font/AcuminVariableConcept.otf');
}
@font-face {
    font-family: 'AdobeMingStd-Light';
    src: url('../font/AdobeMingStd-Light.otf');
}
@font-face {
    font-family: 'BpmfGenSenRounded-M';
    src: url('../font/BpmfGenSenRounded-M.ttf');
}
@font-face {
    font-family: 'FontsFree-Net-Dream-Avenue';
    src: url('../font/FontsFree-Net-Dream-Avenue.ttf');
}
@font-face {
    font-family: 'GenWanMin-L';
    src: url('../font/GenWanMin-L.ttc');
}

@font-face {
    font-family: 'MS Gothic';
    src: url('../font/MS\ Gothic.ttc');
}
@font-face {
    font-family: 'Zapfino';
    src: url('../font/Zapfino.ttf');
}
@font-face {
    font-family: 'VigranMaroll-2OzWK';
    src: url('../font/VigranMaroll-2OzWK.otf');
}
:root {
    --border-width: 2px;
    --border-style: solid;
    --border-color: #000;
}
body {
    background-color: #62ffd5;
    cursor: url('../img/cursor.png'), auto;
    user-select: none;
}

.header, .leftSidebar__head, .leftSidebar__listItem, .graph, .rightSidebar__head {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #afff97;
  color: #11180f;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main__left,
.main__right {
  flex-shrink: 0;
}

.main__left {
  width: 40%;
  border-right: var(--border-width) var(--border-style) var(--border-color);
}

.main__right {
    width: 60%;
}

.leftSidebar__head {
  height: 400px;
  width: 100%;
  background-image: url('../img/betty.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  transition: all .5s ease-in-out;
}
.leftSidebar__head:hover {
    background-color: #e6e6e6;
    .banner__main {
        background-color: #fff;
    }
}


.leftSidebar__listItem {
  --padding: 15px;
  font-size: 1.5rem;
  padding: var(--padding);
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.leftSidebar__listItem:after {
    content: ' \21C0';
    position: relative;
    z-index: 2;
    display: block;
    align-content: flex-end;
    line-height: 0.5em;
}
.leftSidebar__listItem--title {
    position: relative;
    font-size: 3rem;
    font-family: 'GenWanMin-L';
    h2 {
        align-content: center;
    }
}
.leftSidebar__listItem--title:hover {
    .menu__title {
        transform: translateY(0);
    }
}
.leftSidebar__listItem--title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    background-image: linear-gradient(0deg, #ccc 0%, #fff 40%);
    --speed: 0.9;
}
.leftSidebar__listItem--title:hover::before {
    transform: translateY(0);
}

.banner {
    text-align: center;
    align-content: center;
}

.banner__main {
    width: 400px;
    height: 250px;
    border-radius: 50%;
    border: var(--border-width) var(--border-style) var(--border-color);
    background-color: #62ffd5;
    cursor: url('../img/icon-brush.png'), auto;
    transition:all .5s ease-in-out;
}


.menu__title, .leftSidebar__listItem--title::before {
    transition: all calc(0.5s / var(--speed)) linear;
}

.menu__title {
    transform: translateY(calc(50% + calc(var(--padding) / 2)));
    --speed: 1;
}

.rightSidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.rightSidebar__head {
  height: 85%;
  background-color: #62ffd5;
}

.rightSidebar__foot {
  height: 15%;
  background-color: #fff;
  font-size: 2.5rem;
  padding: 15px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.marquee {
  font-family: 'BpmfGenSenRounded-M';
  user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.marquee-inner {
  position: relative;
  overflow: hidden;
}
.marquee::before, .marquee::after {
  position: absolute;
  top: 0;
  width: 25px;
  height: 100%;
  content: "";
  z-index: 1;
  background-image: linear-gradient(calc(var(--reverse) * 90deg), #afff97, rgba(255, 255, 255, 0));
}
.marquee:before {
  content: "";
  left: 0;
  --reverse: 1;
}
.marquee:after {
  content: "";
  right: 0;
  --reverse: -1;
}
.marquee-body {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: marquee calc(1s * 100 / var(--speed)) linear infinite;
  animation-play-state: running;
}
.marquee:hover {
    .marquee-body {
        animation-play-state: paused;
    }
}
.circle {
    border-radius: 50%;
}
.graphContainer {
    display: flex;
    justify-content: flex-end;
}
.graph {
    width: fit-content;
    max-width: 100%;
    padding: 20px;
    background-color: #e6e6e6;
    border-left: var(--border-width) var(--border-style) var(--border-color);
}
.graph__container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 300px;
    max-width: 100%;
}
.graph__container::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    content: url('../img/emoticon-happiness.png');
}
.graph__path {
    position: absolute;
    top:  0;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 30px;
    width: 100%;
}
.graph__path + .graph__path {
    top: 20%;
}

.submenu__link {
    display: block;
    text-decoration: none;
    font-style: normal;
}

.submenu__content {
    position: relative;
    display: flex;
    gap: 25px;
}

.submenu__item {
    font-family: '';
    color: #111;
}

.hasPrefix::before {
    content: var(--prefix);
    display: block;
    font-family: var(--font-pre);
}

.submenu__content::after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    box-sizing: border-box;
    transition: width 1s ease-in-out;
    background-color: #000;
    z-index: 1;
}

.submenu__item:hover .submenu__content::after {
    width: 100%;
}

.personality {
    padding: 20px;
    background-color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
    position: absolute;
    top: 300px;
    left: 40%;
    font-size: 3rem;
    transform: translateX(-50%);
}

.portrait {
    padding: 25px;
    padding-bottom: 0;
    margin-top: 60px;
}

.portrait__head {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.portrait__toolbar {
    margin-left: -25px;
    padding-top: 30px;
    display: flex;
    height: max-content;
}

.portrait__tool {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 8px;
    color: #fff;
    background-color: #444;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-left: 0;
}

.portrait__tool::before {
    content: ' \2716';
    display: block;
}

.portrait__tool:hover {
    background-color: #666;
    color: #eee;
}

.portrait__bio {
    position: relative;
    width: 95px;
    height: 120px;
    background-color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
}

.portrait__bio::after {
    content: url('../img/icon-candy.png');
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.portrait__bio:hover::after {
    transform: scale(1);
    opacity: 1;
}

.portrait__foot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -25px;
    height: 50%;
    margin-bottom: -25px;
}

.tag-color, .tag-name {
    background-color: #fff;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-right-width: 0;
    padding: 10px 15px;
    width: fit-content;
}
.tag-color {
    font-size: 3rem;
}

.tag-name {
    font-size: 1.25rem;
    letter-spacing: 7px;
    margin-top: -1px;
}

.tag-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
    font-size: 2rem;
    border: var(--border-width) var(--border-style) var(--border-color);
    background-color: #fff;
    border-bottom: 0;
    letter-spacing: -3px;
}

.instagram {
    font-family: 'Zapfino';
    font-size: 3rem;
    top: 40px;
    width: 100%;
    text-align: left;
    line-height: 2;
    transition: transform 0.5s ease-in-out;
    padding-top: 20px;
    padding-left: 50px;
}
.instagram__foot {
    padding-left: 120px;
}
.instagram:hover {
    /* font-size: 2rem; */
    transform: scale(1.2);
    /* line-height: 1.75; */
}
